/* Stylizes the page background */
.back {
    background-color: #002550;
    color: #FFF;

    height: 100vh; 
    padding-top: 30px;
}

/* Stylizes the calculator and position in the center of the page */
.calculator {
    position: absolute;

    background-color: black;
    color: #FFF;

    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 270px;
    height: 500px;
    border-radius: 10px;
}

/* Stylizes the grid display of buttons and makes them occupy columns and rows */
.calculator-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;    

    margin: 40px 9px 0px 9px;
}

/* Stylizes all h1 on page */
h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

/* Stylizes all buttons on page */
button {
    width: 60px;
    height: 60px;
    border: none;

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

/* Stylizes all buttons on page when the mouse hovers over */
button:hover {
    filter: brightness(0.8);
    transition: 0.2s;
}

/* Stylizes all buttons on page that are not numbers or empty buttons */
.operators {
    background-color: #2E3960;
}

/* Stylizes the color of all buttons on page that are numbers or empty buttons */
.numbers {
    background-color: #565656;
}

/* Stylizes the button that calls the result of the calculation */
.equal {
    background-color: rgb(221, 88, 0);
    width: 100%;
    grid-area: 6 / 3 / 6 / 5;
}

/* Stylizes the button that erases one by one */
.backspace {
    background-color: rgb(219, 197, 0);
    width: 100%;
    grid-area: 1 / 3 / 1 / 5;
}

/* Stylizes the button that erases all that the user typed */
.clear {
    background-color: rgb(184, 0, 0);
    width: 100%;
    grid-area: 1 / 1 / 1 / 3;
}

/* Stylizes the multiplication button, makes the font size smaller than the others buttons */
#mult {
    background-color: #2E3960;
    font-size: 18px;
}

/* Stylizes how it appear on the screen what the user is typing and the result of the account */
#result {
    background-color: black;
    color: #FFF;

    margin: 30px 5px 0 0;
    width: auto;
    height: 40px;
    
    text-align: right;
    font-size: 25px;
}